img{
  height: 200px;
  width: 200px;
}
body{
  background-color: coral;
  font-size: 20px
}
h1{
  text-align: center;
}
.ray h2{
  text-align: center;
  background-color: red;
}
.ray {
  border-color: yellow;
  border-spacing: 30px
}
.ray li{
  color: blue
}
.may li{
  font-stretch: expanded;
  font-style: oblique;
}
.me{
  font-style: italic;
  color: yellow;
}
.img{
  width: 40%;
 float: left;
 background-color: yellow;
}
